__pycache__
*.pyc
*.pyo

.coverage
coverage/

# uv
.venv

# Ruff cache
.ruff_cache/

# Pyright cache
.pyright/

# Type checker caches
.mypy_cache/

# Sphinx documentation
docs/_build/
docs/_static/
docs/_templates/

# IDEs
.vscode/
.idea/
PR_DESCRIPTION.txt
