__pycache__
*.pyc
*.pyo

.coverage
coverage/

# uv
.venv
.python-version

# Ruff cache
.ruff_cache/

# Mypy cache
.mypy_cache/

# Sphinx documentation
docs/_build/
docs/_static/
docs/_templates/

# IDEs
.vscode/
.idea/
